.header_outer_container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;  /* default */
    height: 10vh;
    color: white;
    transition: background-color 0.4s ease-in-out;
    z-index: 1000;
}

.header_black {
    background-color: rgba(20, 20, 20, 1);
}

.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.header_left ul{
    width: 140%; 
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    cursor: pointer;
    
}

.header_left img{
    width: 10vw;
}

.header_right ul{
    width: 150%; 
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    cursor: pointer;
   
}






