.banner {
  margin-top: -10vh;
  height: 100vh;
  color: white;
  object-fit: contain;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: relative;
}

.banner_contents {
  max-width: 500px;
  /* height: 190px; */
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_description {
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}
.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 1rem 3rem;
  margin-right: 2rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.play {
  color: #000;
  background-color: #fff;
}

.banner_button:hover {
  color: #000;
  background-color: #c6c6c6;
  transition: all 0.2s;
}

.fadebottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.41),
    #111
  );
  pointer-events: none; /* Important so buttons stay clickable */
}
