.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
}

.footer_inner_container{
    width: 60%;
    /* background-color: red; */
}

.footer_icons{
    /* background-color: blue; */
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    /* margin-top: 5px; */
    color: #fff;
}

.footer_data{
    display: flex;
    justify-content: space-between;
}

.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
    /* background-color: blue; */
}

.footer_data ul li{
    cursor: pointer;
    margin: 5px 0;
}

.service_code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 15%;
    margin: 20px 0 5px 0;
    cursor: pointer;
}

.copy_write{
    font-size: 12px;
    margin-bottom: 10px;
}